
@{
     ViewData["Title"] = "当面付";
}

<div class="row">
    <div class="col-sm-12">
        <h1>当面付</h1>
        <button class="btn btn-block btn-primary" onclick="alert('开发中，请等待！');">条码支付（主动扫）</button>
        <a class="btn btn-block btn-primary" asp-action="Scan">扫码支付（被扫）</a>
    </div>
</div>