@{
    ViewData["Title"] = "支付宝PC网站支付Demo";
}

<div class="row">
    <div class="col-sm-12">
        <h1>支付宝PC网站支付Demo</h1>
        <p class="lead">本Demo源码：<a href="https://github.com/stulzq/Alipay.Demo.PCPayment">https://github.com/stulzq/Alipay.Demo.PCPayment</a> </p>
        <p class="lead">所用组件均已发布在Nuget，方便使用：<a href="https://www.nuget.org/profiles/stulzq">https://www.nuget.org/profiles/stulzq</a></p>
        <p class="lead">作者博客：<a href="http://www.cnblogs.com/stulzq/">http://www.cnblogs.com/stulzq/</a></p>
        <p class="lead">联系方式：QQ群 4656606 一起交流使用.net core，诚邀您加入！</p>
    </div>
</div>
