@{
    ViewData["Title"] = "支付宝演示项目";
}

<div class="row">
    <div class="col-sm-12">
        <h1>支付宝演示项目</h1>
        <p class="lead">本Demo源码：<a href="https://github.com/stulzq/Alipay.Demo.PCPayment">https://github.com/stulzq/Alipay.Demo.PCPayment</a> </p>
        <p class="lead">所用组件均已发布在Nuget，方便使用：<a href="https://www.nuget.org/profiles/stulzq">https://www.nuget.org/profiles/stulzq</a></p>
        <p class="lead">作者博客：<a href="http://www.cnblogs.com/stulzq/">http://www.cnblogs.com/stulzq/</a></p>
        <p class="lead">联系方式：QQ群 不给你看emmm，如有实在解决不了问题，请通过github issues 方式提交，尽可能提供多的问题相关信息，代码、截图和日志等。</p>
    </div>
</div>
